TicketValidator/Web References/TicketServiceReference/tickets.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://butzvarruckt.at/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://butzvarruckt.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://butzvarruckt.at/Imports">
      <xsd:import schemaLocation="http://192.168.0.130:8880/tickets?xsd=xsd0" namespace="http://butzvarruckt.at/" />
      <xsd:import schemaLocation="http://192.168.0.130:8880/tickets?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.130:8880/tickets?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketServer.Interfaces.Enums" />
      <xsd:import schemaLocation="http://192.168.0.130:8880/tickets?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicketServer.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketService_GetCurrentState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentState" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetCurrentState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentStateResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_RedeemTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:RedeemTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_RedeemTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedeemTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketService">
    <wsdl:operation name="GetCurrentState">
      <wsdl:input wsaw:Action="http://butzvarruckt.at/ITicketService/GetCurrentState" message="tns:ITicketService_GetCurrentState_InputMessage" />
      <wsdl:output wsaw:Action="http://butzvarruckt.at/ITicketService/GetCurrentStateResponse" message="tns:ITicketService_GetCurrentState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://butzvarruckt.at/ITicketService/GetTicket" message="tns:ITicketService_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://butzvarruckt.at/ITicketService/GetTicketResponse" message="tns:ITicketService_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedeemTicket">
      <wsdl:input wsaw:Action="http://butzvarruckt.at/ITicketService/RedeemTicket" message="tns:ITicketService_RedeemTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://butzvarruckt.at/ITicketService/RedeemTicketResponse" message="tns:ITicketService_RedeemTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>