Development/Current/TicketValidator/Web References/TicketServiceReference/tickets2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicketServer.Interfaces.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicketServer.Interfaces.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ServiceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Running" />
      <xs:enumeration value="NotReady" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceStatus" nillable="true" type="tns:ServiceStatus" />
  <xs:simpleType name="TicketType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Free" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Special" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TicketType" nillable="true" type="tns:TicketType" />
  <xs:simpleType name="RedeemResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Redeemed" />
      <xs:enumeration value="AlreadyRedeemed" />
      <xs:enumeration value="NotRedeemed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RedeemResultType" nillable="true" type="tns:RedeemResultType" />
</xs:schema>